<% @stations.each do |station| %>
  <div id="station-<%= station.id %>">
    <h3 class="station-name">name: <%= station.name %></h3>
    <p>Fuel Type: <%= station.fuel_type %>
    <p>Address: <%= station.address %></p>
    <p>Access Times: <%= station.access_times %></p>
    <p>Distance: <%= station.distance %> miles</p>
  </div>
<% end %>

<% @pages.times do |n| %>
  <%= link_to n + 2, search_path %>
<% end %>
